@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --primary: 234, 106, 18;
    --menu-item: 252, 176, 91;
    --bg-color: 252, 237, 227;
}
/* Set color theme */
@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}
main {
    background-color: rgb(var(--bg-color));
}
/* body {
   color: rgb(var(--background-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); 
} */
